{
  "projectId": "vualiku-xp",
  "appId": "1:959215599942:web:d7e7f04af3e44978a9a547",
  "storageBucket": "vualiku-xp.firebasestorage.app",
  "apiKey": "AIzaSyCbk0F9MpeYG4GXjM5TFZu_3KDNdPgEsoU",
  "authDomain": "vualiku-xp.firebaseapp.com",
  "messagingSenderId": "959215599942",
  "measurementId": "G-DRM51RETB4",
  "projectNumber": "959215599942",
  "version": "2"
}
